* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --dark-color: #0f172a;
    --light-color: #f8fafc;
    --max-width: 1200px;
}

body {
    color: var(--dark-color);
    background: var(--light-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

header {
    border-bottom: solid 1px #e5e7eb;
}

nav {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li a {
    color: var(--dark-color);
    transition: 0.3s ease;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.btn {
    color: var(--light-color);
    background: var(--primary-color);
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.2s ease;
}

.btn:hover {
    scale: 1.05;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

section {
    padding: 4rem 1rem;
}

main {
    max-width: var(--max-width);
    margin: auto;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    margin: 0 auto 2rem;
    max-width: 600px;
}

.cta {
    font-size: 1.3rem;
}

.urgency {
    color: red;
    font-weight: 600;
    padding: 5px 40px;
    font-size: 0.9rem;
    font-style: italic;
}

.hero-container {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    align-items: center;
    gap: 3rem;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero-img img {
    width: 100%;
    max-width: 500px;
    display: block;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.why-join {
    text-align: center;
    background: #f8fafcf0;
}

.why-join h2 {
    font-size: 1.7rem;
    margin-bottom: 30px;
}

.why-join p {
    color: var(--dark-color);
    line-height: 1.8;
}

.benefit {
    text-align: center;
    background: #f8fafcf0;
}

.benefit-heading h2 {
    font-size: 1.7rem;
    margin-bottom: 50px;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.benefit-card {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.benefit-card h3 {
    margin-bottom: 10px;
}

.benefit-card p {
    color: var(--dark-color);
}

.testimonial {
    text-align: center;
    background: #f8fafcf0;
}

.testimonial-heading h2 {
    font-size: 1.7rem;
    margin-bottom: 50px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.testimonial-card {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
    color: var(--dark-color);
}

.testimonial-card h4 {
    margin-top: 15px;
}

.final-cta {
    text-align: center;
}

.final-cta h2 {
    margin-bottom: 20px;
}

.final-cta p {
    margin-bottom: 40px;
    color: var(--dark-color);
}

@media (max-width: 768px) {

    section{
        padding: 1.5rem 1rem;
    }

    .hamburger{
        display: block;
    }

    nav .btn{
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li{
        padding: 10px 0;
    }

    .nav-links li a{
        font-size: 18px;
    }

    .hero-container{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 40px 20px;
        gap: 10px;
    }
    .hero-text{
        max-width: 100%;
    }

    .hero-text h1{
        font-size: 32px;
        line-height: 1.3;
    }
    .hero-text p{
        font-size: 16px;
    }
    .hero-img img{
        width: 100%;
        margin: 0 auto;
        
    }

    .hero-img{
        justify-content: center;
    }

    .benefits, .testimonial-grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .testimonial{
        margin-bottom: 20px;
    }
}